In [8]:
import sqlite3
import pandas as pd
import altair

dataset = "../database.sqlite"
connection = sqlite3.connect(dataset)

In [9]:
tables_df = pd.read_sql_query("select * from sqlite_master where type='table'", connection)
table_names = tables_df['name'].tolist()
table_names.remove('sqlite_sequence')
table_names

<bound method NDFrame.head of     type               name           tbl_name  rootpage  \
0  table    sqlite_sequence    sqlite_sequence         4
1  table  Player_Attributes  Player_Attributes        11
2  table             Player             Player        14
3  table              Match              Match        18
4  table             League             League        24
5  table            Country            Country        26
6  table               Team               Team        29
7  table    Team_Attributes    Team_Attributes         2

                                                 sql
0             CREATE TABLE sqlite_sequence(name,seq)
1  CREATE TABLE "Player_Attributes" (\n\t`id`\tIN...
2  CREATE TABLE `Player` (\n\t`id`\tINTEGER PRIMA...
3  CREATE TABLE `Match` (\n\t`id`\tINTEGER PRIMAR...
4  CREATE TABLE `League` (\n\t`id`\tINTEGER PRIMA...
5  CREATE TABLE `Country` (\n\t`id`\tINTEGER PRIM...
6  CREATE TABLE "Team" (\n\t`id`\tINTEGER PRIMARY...
7  CREATE TABLE `Team_Attributes` (\n\t`id`\tINTE...  >

['Player_Attributes',
 'Player',
 'Match',
 'League',
 'Country',
 'Team',
 'Team_Attributes']

In [10]:
df_names = []
def create_df(table_name:str):
    df_name = "{}_df".format(table_name.lower())
    df_names.append(df_name)
    globals()[df_name] = pd.read_sql_query("select * from {}".format(table_name), connection)

for table_name in table_names:
    print("CREATING {} DATAFRAME".format(table_name))
    create_df(table_name)
    print("\t DONE")

df_names

CREATING Player_Attributes DATAFRAME
	 DONE
CREATING Player DATAFRAME
	 DONE
CREATING Match DATAFRAME
	 DONE
CREATING League DATAFRAME
	 DONE
CREATING Country DATAFRAME
	 DONE
CREATING Team DATAFRAME
	 DONE
CREATING Team_Attributes DATAFRAME
	 DONE

['player_attributes_df',
 'player_df',
 'match_df',
 'league_df',
 'country_df',
 'team_df',
 'team_attributes_df']

In [15]:
#save dfs as csv
import os

if not os.path.exists("../csv_files"):
    os.mkdir("../csv_files")
    
for df_name in df_names:
    globals()[df_name].to_csv("../csv_files/{}.csv".format(df_name[:df_name.find('_df')]))