In [46]:
import sqlite3
import pandas as pd
import altair

dataset = "database.sqlite"
connection = sqlite3.connect(dataset)

In [61]:
tables_df = pd.read_sql_query("select * from sqlite_master where type='table'", connection)
table_names = tables_df['name'].tolist()

table_names.remove('sqlite_sequence')
table_names

['Player_Attributes',
 'Player',
 'Match',
 'League',
 'Country',
 'Team',
 'Team_Attributes']

In [62]:
df_names = []
def create_df(table_name:str):
    df_name = "{}_df".format(table_name.lower())
    df_names.append(df_name)
    globals()[df_name] = pd.read_sql_query("select * from {}".format(table_name), connection)

for table_name in table_names:
    print("CREATING {} DATAFRAME".format(table_name))
    create_df(table_name)
    print("\t DONE")

df_names

CREATING Player_Attributes DATAFRAME
	 DONE
CREATING Player DATAFRAME
	 DONE
CREATING Match DATAFRAME
	 DONE
CREATING League DATAFRAME
	 DONE
CREATING Country DATAFRAME
	 DONE
CREATING Team DATAFRAME
	 DONE
CREATING Team_Attributes DATAFRAME
	 DONE

['player_attributes_df',
 'player_df',
 'match_df',
 'league_df',
 'country_df',
 'team_df',
 'team_attributes_df']

In [64]:
#save dfs as csv
for df_name in df_names:
    globals()[df_name].to_csv("{}.csv".format(df_name))